In [7]:
import pandas as pd
# Charger le dataset
df = pd.read_csv("barrages.csv")

# Afficher un aperçu des 5 premières lignes
df.head()

,Nom_Fr,Nom_Ar,apports,id_barrage,lachers,stock,cumul_mensuel_apports,cumul_annuel_apports,cumul_mensuel_lachers,cumul_annuel_lachers,...,stock_annee_prec,Cap_tot_act,Cote,Cap_tot_init,fonctionnel,Annee_prod,Latitude,Longitude,Bassin_versant,Date
0,mellegue,مـــــلاق,1.862240,1,4.3400,26.25250,27.83210,65.13990,24.914700,50.66940,...,8.77592,51.130,265.00,267.670,1.0,1954,36.3144,8.70273,10300.0,2025-04-23 00:00:00
1,sarrat,سراط,0.004410,36,0.0280,7.36512,1.53739,7.88898,0.828216,1.59889,...,4.53357,21.000,546.00,21.000,1.0,2016,35.8322,8.44340,1850.0,2025-04-23 00:00:00
2,benmetir,بني مطيــر,0.096980,2,0.0432,43.67050,3.00090,24.45800,0.993600,12.75570,...,40.62260,60.393,436.50,61.630,1.0,1954,36.7471,8.74190,103.0,2025-04-23 00:00:00
3,kasseb,كســاب,0.110105,3,0.0648,26.04450,3.54845,25.82750,1.490400,14.99580,...,22.39020,76.900,292.04,81.875,1.0,1968,36.7614,9.00240,101.0,2025-04-23 00:00:00
4,barbara,بربرة,0.289221,4,0.6246,61.75460,6.34572,50.68210,4.963950,40.24740,...,58.93100,60.545,182.00,74.820,1.0,1998,36.7341,8.53173,177.0,2025-04-23 00:00:00

In [9]:
# Afficher les informations générales (types, non-null, etc.)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Nom_Fr                 3168 non-null   object
 1   Nom_Ar                 3168 non-null   object
 2   apports                3168 non-null   float64
 3   id_barrage             3168 non-null   int64
 4   lachers                3168 non-null   float64
 5   stock                  3168 non-null   float64
 6   cumul_mensuel_apports  3168 non-null   float64
 7   cumul_annuel_apports   3168 non-null   float64
 8   cumul_mensuel_lachers  3168 non-null   float64
 9   cumul_annuel_lachers   3168 non-null   float64
 10  moy_mois               3168 non-null   float64
 11  cumul_annee_prec       3168 non-null   float64
 12  moy_periode            3168 non-null   float64
 13  stock_annee_prec       3168 non-null   float64
 14  Cap_tot_act            3168 non-null   float64
 15  Cote                   3168 non-null   float64
 16  Cap_tot_init           3168 non-null   float64
 17  fonctionnel            3168 non-null   float64
 18  Annee_prod             3168 non-null   int64
 19  Latitude               3168 non-null   float64
 20  Longitude              3168 non-null   float64
 21  Bassin_versant         3168 non-null   float64
 22  Date                   3168 non-null   object
dtypes: float64(18), int64(2), object(3)
memory usage: 569.4+ KB

In [11]:
# Vérifier les valeurs manquantes
df.isna().sum()

Nom_Fr                   0
Nom_Ar                   0
apports                  0
id_barrage               0
lachers                  0
stock                    0
cumul_mensuel_apports    0
cumul_annuel_apports     0
cumul_mensuel_lachers    0
cumul_annuel_lachers     0
moy_mois                 0
cumul_annee_prec         0
moy_periode              0
stock_annee_prec         0
Cap_tot_act              0
Cote                     0
Cap_tot_init             0
fonctionnel              0
Annee_prod               0
Latitude                 0
Longitude                0
Bassin_versant           0
Date                     0
dtype: int64

In [13]:
#Renommer les colonnes
df = df.rename(columns={'Nom_Fr': 'nom_barrage', 'apports': 'apports_journaliers','lachers': 'lachers_journaliers', 'stock': 'stock_actuel',
'moy_mois': 'moyenne_mensuelle_apports', 'cumul_annee_prec': 'cumul_apports_annee_prec', 'moy_periode': 'moyenne_periode',
'Cap_tot_act': 'capacite_totale_actuelle', 'Cote': 'altitude_niveau_eau','Cap_tot_init': 'capacite_totale_initiale','fonctionnel': 'etat',
'Annee_prod': 'annee_mise_en_service',})
df.head(3)

,nom_barrage,Nom_Ar,apports_journaliers,id_barrage,lachers_journaliers,stock_actuel,cumul_mensuel_apports,cumul_annuel_apports,cumul_mensuel_lachers,cumul_annuel_lachers,...,stock_annee_prec,capacite_totale_actuelle,altitude_niveau_eau,capacite_totale_initiale,etat,annee_mise_en_service,Latitude,Longitude,Bassin_versant,Date
0,mellegue,مـــــلاق,1.86224,1,4.3400,26.25250,27.83210,65.13990,24.914700,50.66940,...,8.77592,51.130,265.0,267.67,1.0,1954,36.3144,8.70273,10300.0,2025-04-23 00:00:00
1,sarrat,سراط,0.00441,36,0.0280,7.36512,1.53739,7.88898,0.828216,1.59889,...,4.53357,21.000,546.0,21.00,1.0,2016,35.8322,8.44340,1850.0,2025-04-23 00:00:00
2,benmetir,بني مطيــر,0.09698,2,0.0432,43.67050,3.00090,24.45800,0.993600,12.75570,...,40.62260,60.393,436.5,61.63,1.0,1954,36.7471,8.74190,103.0,2025-04-23 00:00:00

In [17]:
# Créer un taux de remplissage (%)
df['taux_remplissage'] = (df['stock_actuel'] / df['capacite_totale_actuelle']) * 100
#supprimer la colonne "Nom_Ar"
df = df.drop(['Nom_Ar'], axis=1)
# Convertir la colonne 'date' en format datetime
df['Date'] = pd.to_datetime(df['Date'])

In [19]:
 # Vérifier les noms des barrages
df['nom_barrage'].unique()

array(['mellegue', 'sarrat', 'benmetir', 'kasseb', 'barbara', 'sidisalem',
       'bouheurtma', 'joumine', 'ghezala', 'melah', 'tine', 'sejnane',
       'zarga', 'kebir', 'moula', 'selbarrak', 'ziatine', 'gamgoum',
       'harka', 'siliana', 'lakhmess', 'rmil', 'birmcherga', 'rmel',
       'nebhana', 'sidisaad', 'elhaouareb', 'sficifa', 'sidiach',
       'elbrek', 'bezirk', 'chiba', 'masri', 'lebna', 'hma', 'abid'],
      dtype=object)

In [21]:
# Stock total actuel (tous barrages confondus)
stock_total = df.groupby('Date')['stock_actuel'].sum()

# Taux de remplissage moyen (tous barrages confondus)
taux_remplissage_moyen = df.groupby('Date')['taux_remplissage'].mean()

# Apports totaux journaliers (somme sur tous les barrages chaque jour)
apports_journaliers = df.groupby('Date')['apports_journaliers'].sum()

# Lâchers totaux journaliers
lachers_journaliers = df.groupby('Date')['lachers_journaliers'].sum()

df['année'] = df['Date'].dt.year

# Apports cumulés par année
apports_par_année = df.groupby('année')['apports_journaliers'].sum()

# Lâchers cumulés par année
lachers_par_année = df.groupby('année')['lachers_journaliers'].sum()

# Stock moyen par année
stock_moyen_par_année = df.groupby('année')['stock_actuel'].mean()

In [23]:
regions = {
    'mellegue': 'Kef',
    'sarrat': 'Kef',
    'benmetir': 'Bizerte',
    'kasseb': 'Bizerte',
    'barbara': 'Jendouba',
    'sidisalem': 'Béja',
    'bouheurtma': 'Jendouba',
    'joumine': 'Bizerte',
    'ghezala': 'Bizerte',
    'melah': 'Bizerte',
    'tine': 'Bizerte',
    'sejnane': 'Bizerte',
    'zarga': 'Zaghouan',
    'kebir': 'Nabeul',
    'moula': 'Jendouba',
    'selbarrak': 'Sidi Bouzid',
    'ziatine': 'Béja',
    'gamgoum': 'Siliana',
    'harka': 'Siliana',
    'siliana': 'Siliana',
    'lakhmess': 'Sidi Bouzid',
    'rmil': 'Kasserine',
    'birmcherga': 'Zaghouan',
    'rmel': 'Kasserine',
    'nebhana': 'Mahdia',
    'sidisaad': 'Kairouan',
    'elhaouareb': 'Kairouan',
    'sficifa': 'Kairouan',
    'sidiach': 'Kairouan',
    'elbrek': 'Nabeul',
    'bezirk': 'Kairouan',
    'chiba': 'Kairouan',
    'masri': 'Kairouan',
    'lebna': 'Nabeul',
    'hma': 'Nabeul',
    'abid': 'Kairouan',
}

# Ajouter la colonne 'region'
df['region'] = df['nom_barrage'].map(regions)

# Vérifier
df.head()

,nom_barrage,apports_journaliers,id_barrage,lachers_journaliers,stock_actuel,cumul_mensuel_apports,cumul_annuel_apports,cumul_mensuel_lachers,cumul_annuel_lachers,moyenne_mensuelle_apports,...,capacite_totale_initiale,etat,annee_mise_en_service,Latitude,Longitude,Bassin_versant,Date,taux_remplissage,année,region
0,mellegue,1.862240,1,4.3400,26.25250,27.83210,65.13990,24.914700,50.66940,15.18310,...,267.670,1.0,1954,36.3144,8.70273,10300.0,2025-04-23,51.344612,2025,Kef
1,sarrat,0.004410,36,0.0280,7.36512,1.53739,7.88898,0.828216,1.59889,1.38200,...,21.000,1.0,2016,35.8322,8.44340,1850.0,2025-04-23,35.072000,2025,Kef
2,benmetir,0.096980,2,0.0432,43.67050,3.00090,24.45800,0.993600,12.75570,4.65287,...,61.630,1.0,1954,36.7471,8.74190,103.0,2025-04-23,72.310533,2025,Bizerte
3,kasseb,0.110105,3,0.0648,26.04450,3.54845,25.82750,1.490400,14.99580,3.88401,...,81.875,1.0,1968,36.7614,9.00240,101.0,2025-04-23,33.868010,2025,Bizerte
4,barbara,0.289221,4,0.6246,61.75460,6.34572,50.68210,4.963950,40.24740,8.57463,...,74.820,1.0,1998,36.7341,8.53173,177.0,2025-04-23,101.997853,2025,Jendouba

In [25]:
df.to_csv("Barrages_tn.csv", index=False)

In [27]:
df['region'].unique()

array(['Kef', 'Bizerte', 'Jendouba', 'Béja', 'Zaghouan', 'Nabeul',
       'Sidi Bouzid', 'Siliana', 'Kasserine', 'Mahdia', 'Kairouan'],
      dtype=object)